<div class="wrapper-center-center login" ng-controller="LogInCtrl">
  <form ng-submit="userLogin(email, password)">
    <div ng-show="Error" class="error-msg-container"><p class="error-msg">{{Error}}</p></div>
    <input class="input-field" type="email" placeholder="Type your email address" ng-model="email" required>
    <input class="input-field" type="password" placeholder="Type your password" ng-model="password" required>
    <button class="button-primary" type="submit">Log in</button>
    <p class="button-text"><a ui-sref="register">Register</a></p>
  </form>
</div>
