<div class="questionsTable">
  <table class="questionListTable" ng-controller="ListQuestionsCtrl">
    <tr>
      <th class="tableHeadQuestion">Question</th>
      <th class="tableHeadType">type</th>
    </tr>
    <tr ng-repeat="question in getQuestions()">
      <td class="questionContent"> {{question.content}} </td>
      <td class="questionType"> {{question.type}} </td>
      <td class="cell">
        <img class="pen" src="style/images/pen.svg">
      </td>
      <td class="cell" ng-click="deleteQuestionFromQuestionsList(question)">
        <img class="trash" src="style/images/trash.svg">
      </td>
    </tr>
  </table>
</div>
