<div class="usersTable">
  <table class="userListTable" ng-controller='ListUsersCtrl'>
    <tr>
      <th class="tableHeadEmail">email address</th>
      <th class="tableHeadRole">role</th>
    </tr>
    <tr ng-if="!(currentUser.email === user.email)"
        ng-repeat="user in getUsers() | orderBy:'email'">
      <td class="userEmail"> {{user.email}} </td>
      <td class="userStatus">
        <span ng-if="user.isadmin" ng-show="!isEdit">admin</span>
        <span ng-show="isEdit">
          <select ng-options="status as status.role for status in statuses"
                  ng-model="options"
                  ng-change="changeUserRole(options.isAdmin, user.email)">
          </select>
        </span>
      </td>
      <td><button class="penButton" ng-click="isEdit = 1"><img class="pen" src="style/images/pen.svg"></button></td>
    </tr>
  </table>
</div>
