<div class="newTemplate" ng-controller="NewTemplateCtrl">
  <form class="newTemplateForm" ng-submit="sendNewTemplate(templateName, options.type, count)">
    <div ng-show="Error" class="error-msg-container"><p class="error-msg">{{Error}}</p></div>
    <h2>Create Template</h2>
    <input type="text" placeholder="Template name" ng-model="templateName" required>
    <div>
      <select ng-init="options=types[0]"
              ng-options="type as type.type for type in types"
              ng-model="options">
      </select>
      <p>x</p>
      <input type="number" placeholder="count" ng-model="count" required>
    </div>
    <button class="submitButton" type="submit">Create</button>
  </form>
</div>
