<div class="wrapper-center templates">
  <div class="header">
    <h2 class="title-main">TEMPLATES</h2>
    <button class="button-secondary" ui-sref="newTemplate">+ new template</button>
  </div>
  <table class="table" ng-controller="ListTemplatesCtrl">
    <tr>
      <th class="pos-left">Position</th>
    </tr>
    <tr ng-attr-id="{{template.id}}" ng-repeat="template in getTemplates()">
      <td>{{template.title}}
        <div class="icon-container">
          <img class="icon" src="style/images/pen.svg">
          <img ng-click="deleteTemplateFromTemplateList(template)" class="icon" src="style/images/trash.svg">
        </div>
      </td>
    </tr>
  </table>
</div>
