<div class="templatesTable">
  <div class="template-header">
    <h2 class="title-main">TEMPLATES</h2>
    <button class="button-secondary" ui-sref="newTemplate">+ new template</button>
  </div>
  <table class="templatesListTable" ng-controller="ListTemplatesCtrl">
    <tr>
      <th class="tableHeadTemplate" colspan="3">Position</th>
    </tr>
    <tr ng-attr-id="{{template.id}}" ng-repeat="template in getTemplates()">
      <td class="templateTitle"> {{template.title}} </td>
      <td class="cell"><img class="pen" src="style/images/pen.svg"></td>
      <td ng-click="deleteTemplateFromTemplateList(template)" class="cell"><img class="trashbin" src="style/images/trash.svg"></td>
    </tr>
  </table>
</div>
