<div class="questionsTable">
  <table class="questionListTable" ng-controller="ListQuestionsCtrl">
    <tr>
      <th class="tableHeadQuestion">question</th>
      <th class="tableHeadType">type</th>
    </tr>
    <tr ng-attr-id="{{question.question_id}}" ng-repeat="question in getQuestions()">
      <td class="questionContent"> {{question.content}} </td>
      <td class="questionType">
        {{question.type}}
        <div class="icons">
          <img class="pen" src="style/images/pen.svg">
          <img ng-click="deleteQuestionFromQuestionsList(question)" class="trash" src="style/images/trash.svg">
        </div>
      </td>
    </tr>
  </table>
</div>
