<div class="wrapper-center interview">
  <table class="table">
    <tr>
      <th class="pos-left">question</th>
      <th class="pos-right">type</th>
    </tr>
    <tr ng-repeat="question in questions">
      <td class="pos-left">{{question.content}}</td>
      <td class="pos-right colored">{{question.type}}</td>
    </tr>
  </table>
  <div>
    <button class="button-secondary" ui-sref="newInterview">new interview</button>
    <button class="button-secondary" ng-click="generateNewQuestions()">new questions</button>
  </div>
</div>
