<div class="templatesTable">
  <div class="template-header">
    <div class="template-title">TEMPLATES</div>
    <div class="template-button"><button class="add-template-button" ui-sref="newTemplate">+ new template</button></div>
  </div>
  <table class="templatesListTable" ng-controller="ListTemplatesCtrl">
    <tr>
      <th class="tableHeadTemplate" colspan="3">Position</th>
    </tr>
    <tr ng-attr-id="{{template.template_id}}" ng-repeat="template in getTemplates()">
      <td class="templateTitle"> {{template.title}} </td>
      <td ng-if="isAdmin" class="cell"><img class="pen" src="style/images/pen.svg"></td>
      <td ng-if="isAdmin" class="cell"><img class="trashbin" src="style/images/trash.svg"></td>
    </tr>
  </table>
</div>
