.frontpage {
  font-style: $fontFamilyDefault;
  display: flex;

  .registerButton {
    order: 1;
  }

  .middle {
    color: $darkgrey;
    font: {
      family: $fontFamilySecondary;
      size: 18px;
    };
    order: 2;
    padding: 15px 30px;
  }

  .loginButton {
    order: 3;
  }
}
