.questions {
  margin-top: 50px;

  .title-main {
    padding-left: 0px;
  }

  .icon-container {
    top: 8px;
    right: -45px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
