.question {
  .question-inputfields {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  select {
    box-sizing: border-box;
    padding: 10px;
    height: $inputHeight;
    width: 450px;
    color: $darkgrey;
    border-color: $blue;
    border-radius: $borderRadius;
    font-size: $fontSize;
    font-family: $fontFamilySecondary;
    margin-bottom: 15px;
  }
  .largecontentbox {
    box-sizing: border-box;
    padding: 10px;
    width: 450px;

  }
}
