button {
  background-color: $blue;
  border: {
    radius: $borderRadius;
    width: 0px;
  };
  color: white;
  font: {
    family: $fontFamilyDefault;
    size: $fontSize;
  };
  height: $buttonHeight;
  text-transform: uppercase;
  width: $inputWidth;
  &:hover {cursor: pointer;}
}

.button-secondary {
  @extend button;
  font: {
    family: $fontFamilySecondary;
  };
  height: 30px;
  line-height: normal;
  text-transform: lowercase;
  width: 140px;
}

.button-text {
  a, a:visited {
    color: $blue;
    text-decoration: none;
    font-family: $fontFamilyDefault;
  }
}
