@mixin buttonProperties($bGroundColor, $brdRadius, $brdWidth, $fColor, $fFamily, $fSize, $height, $width) {
  background-color: $bGroundColor;
  border: {
    radius: $brdRadius;
    width: $brdWidth;
  };
  color: $fColor;
  font: {
    family: $fFamily;
    size: $fSize;
  };
  height: $height;
  width: $width;
  &:hover {cursor: pointer;}
}

.button-primary {
  @include buttonProperties($blue, $borderRadius, 0px, white, $fontFamilyDefault, $fontSize, $buttonHeight, $inputWidth);
  text-transform: uppercase;
}

.button-secondary {
  background-color: $blue;
  border: {
    radius: $borderRadius;
    width: 0px;
  };
  color: white;
  font: {
    family: $fontFamilySecondary;
    size: $fontSize;
  };
  height: 30px;
  width: 140px;
  line-height: normal;
  &:hover {cursor: pointer;}
}

.button-text {
  a, a:visited {
    color: $blue;
    text-decoration: none;
    font-family: $fontFamilyDefault;
  }
}
