.input-field {
  box-sizing: border-box;
  border: {
    radius: $borderRadius;
    color: $blue;
    style: solid;
    width: 1px;
  };
  height: $inputHeight;
  font-family: $fontFamilySecondary;
  font-size: $fontSize;
  line-height: 1;
  margin: 10px;
  padding-left: 10px;
}

.input-textarea {
  @extend .input-field;
  height: auto;
  padding-top: 12px;
}

.input-select {
  @extend .input-field;
  padding: 10px;
  color: $darkgrey;
}

::-webkit-input-placeholder {
  color: $darkgrey;
  font-family: $fontFamilySecondary
}
