.table {
  border-collapse: collapse;
  font-family: $fontFamilySecondary;
  margin: 5px auto 15px;
  min-width: 500px;

  .pos-left {
    text-align: left;
  }

  .pos-right {
    text-align: right;
  }

  th {
    color: $darkgrey;
    border-bottom: 1px solid $darkgrey;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
  }

  .colored {
    color: $blue;
  }

  .icon-container {
    position: absolute;
    visibility: hidden;
  }

  tr:hover .icon-container {
    visibility: visible;
  }

  .icon {
    height: 16px;
    margin-left: 6px;
    width: 16px;
    cursor: pointer;
  }
}
