html {
  margin: 0px;
}

body {
  margin: auto;
}

.frontpage, .register, .login, .question {
  justify-content: center;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.register, .login, .question, .new-template {
  width: 500px;

  ::-webkit-input-placeholder {
    color: $darkgrey;
    font-family: $fontFamilySecondary
  }

  input, textarea {
    border: {
      radius: $borderRadius;
      color: $blue;
      style: solid;
      width: 1px;
    };
    height: $inputHeight;
    font-family: $fontFamilySecondary;
    font-size: $fontSize;
    margin: 10px;
    padding-left: 10px;
    width: 450px;
    line-height: 1;
  }

  textarea {
    height: auto;
    padding-top: 12px;
  }
}

.userListTable, .questionListTable, .templatesListTable, .new-template {
  border-collapse: collapse;
  font-family: $fontFamilySecondary;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  min-width: 500px;

  th {
    padding: 0px;
    border-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid $darkgrey;
  }

  td {
    padding-top: 10px;
  }

  .userEmail, .tableHeadEmail, .tableHeadQuestion, .questionContent, .tableHeadTemplate {
    color: $darkgrey;
    text-align: left;
  }

  .userStatus, .tableHeadRole, .tableHeadType, .questionType {
    color: $darkgrey;
    font-size: $fontSize;
    text-align: right;
  }

  .userStatus, .questionType {
    color:  $blue;
    position: relative;
  }

  .icons {
    cursor:pointer;
    position: absolute;
    right: -50px;
    top: +12px;
  }

  .pen, .trash {
    height: 16px;
    margin-left: 6px;
    visibility: hidden;
    width: 16px;
  }

  tr:hover .pen, tr:hover .trash {
    visibility: visible;
  }

  .penButton {
    background-color: white;
    border: none;
  }

  .penButton:focus {
    outline: none;
  }

  select {
    height: 20px;
    color: $blue;
    border-color: $blue;
    font-size: $fontSize;
    font-family: $fontFamilySecondary;
  }
}

.templatesTable {
  justify-content: center;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .template-header {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    .title-main {
      order: 1;
    }
    .button-secondary {
      order: 2;
    }
  }
  .tableHeadTemplate {
    font-size: $fontSize;
  }

  tr {
    text-align: left;
  }

  tr:hover .pen, tr:hover .trashbin {
    visibility: visible;
  }

  .trashbin {
    height: 16px;
    margin-left: 6px;
    visibility: hidden;
    width: 16px;
  }

  .cell {
    width: 16px;
  }
}
