$lightgrey: #E6E6E6;
$darkgrey: #4A4A4A;
$blue: #39C2D7;

$fontSizeLarge: 26px;
$fontSize: 16px;
$fontFamilyDefault: 'Oswald';
$fontFamilySecondary: 'Lato';

$headerHeight: 80px;
$buttonHeight: 50px;
$inputHeight: $buttonHeight;
$inputWidth: 150px;

$borderRadius: 3px;
